<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="1955f119-683a-40b1-a1a7-a4a638df01f8"
            Publisher="CN=abdulrahaman"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>CrossSharpClient</DisplayName>
    <PublisherDisplayName>abdulrahaman</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>CrossSharpClient</Description>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="CrossSharpClient.App">
        <VisualElements
            DisplayName="CrossSharpClient"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="CrossSharpClient"
            ForegroundText="light"
            BackgroundColor="#222222">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>